@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url('../public/assets/font/Helvetica.ttf') format('truetype');
}

html,
body {
    font-family: 'helvetica', sans-serif;
    scroll-behavior: smooth;
}

.swiper-wrapper {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}